@inherits ForumAppComponent
@inject HttpClient Http

@if (State.Boards != null)
{
    <header class="navbar">
        <div class="container grid-xl">
            <section class="navbar-section">
                @{ var boards = State.Boards.ToList(); }
                @for (int i = 0; i < boards.Count; i++)
                {
                    <a class="btn btn-link" href=@RoutePaths.Threads(boards[i].NameShort)>@boards[i].Name</a>
                    if ((i + 1) < boards.Count)
                    {
                        <div class="divider-vert"></div>
                    }
                }
            </section>
        </div>
    </header>
}

@functions
{
    protected override async Task OnInitAsync()
    {
        await ActionCreators.GetBoards(Store.Dispatch, Http);
    }
}