@inherits ForumAppComponent
@inject HttpClient Http

<div class="column col-12">
    <p>@Post.DateCreated No. #@Post.Id</p>
    <p>@Post.Content</p>
</div>

@functions {
    [Parameter]
    PostDTO Post { get; set; } 
}