@inherits ForumAppComponent
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
<div class="columns">
    <div class="column form-group">
        <label class=form-label for="form-text">@Title</label>
        <textarea id="form-text" class="form-input" bind-value-onchange="Text"></textarea>
    </div>
</div>
<br />
<div class="columns">
    <div class="column">
        <button class="btn float-right" disabled=@ButtonDisabled onclick=@OnClick>Submit</button>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="column col-12 divider"></div>
    </div>
</div>

@functions {
    [Parameter]
    View ViewType { get; set; }

    bool ButtonDisabled { get; set; } = false;

    string Title => (ViewType == View.Thread ? "New Thread" : "New Post");

    string Text { get; set; }

    public async void OnClick()
    {
        ButtonDisabled = true;
        switch (ViewType)
        {
            case View.Thread:
                await ActionCreators.PostThread(
                    Store.Dispatch,
                    Http,
                    State.CurrentBoard.NameShort,
                    new PostDTO() { Content = Text }
                    );
                UriHelper.NavigateTo("/" + State.CurrentBoard.NameShort + "/" + State.CurrentBoard.CurrentThread.Id);
                break;

            case View.Post:
                await ActionCreators.PostPost(
                    Store.Dispatch,
                    Http,
                    State.CurrentBoard.NameShort,
                    State.CurrentBoard.CurrentThread.Id,
                    new PostDTO() { Content = Text }
                    );
                Text = string.Empty;
                StateHasChanged();
                break;
        }
        Text = string.Empty;
        ButtonDisabled = false;
    }
}