@page "/{Board}"
@inherits ForumAppComponent
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<BoardsNav/>

@if (State.CurrentBoard?.Threads == null)
{
    <div class="loading loading-lg"></div>
}
else if (State.CurrentBoard != null && State.CurrentBoard.Threads.Count() < 1)
{
    <div class="container grid-xl">
        <div class="columns">
            <div class="column col-12 text-center">
                <h1>Browsing @State.CurrentBoard.Name</h1>
            </div>
        </div>
        <PostForm ViewType="View.Thread" />
        <div class="columns">
            <div class="column mt-2 pt-2 col-12">
                <div class="empty" style="height:100%">
                    <p class="empty-title h5">It looks like there's nothing here</p>
                    <p class="empty-subtitle">Be the first the start a thread.</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container grid-xl">
        <div class="columns">
            <div class="column col-12 text-center">
                <h1>Browsing @State.CurrentBoard.Name</h1>
            </div>
        </div>
        <PostForm ViewType="View.Thread" />
        <div class="columns">
            <div class="column col-12">
                <button class="btn btn-link" onclick="@ChangeFormat">@ChangeFormatText view</button>
            </div>
        </div>
        <div class="columns">
            @foreach (var thread in State.CurrentBoard.Threads)
            {
                <PostView ViewType="View.Thread" Post="thread" />
            }
        </div>
    </div>
}
@functions
{
    [Parameter]
    private string Board { get; set; }

    string ChangeFormatText => (State.ThreadViewType == ThreadView.Catalogue ? "Standard" : "Catalogue");

    protected override async Task OnParametersSetAsync()
    {
        bool clear = State.CurrentBoard == null || Board != State.CurrentBoard.NameShort;
        await ActionCreators.GetThreads(Store.Dispatch, Http, Board, clear);
    }

    private void ChangeFormat()
    {
        var view = (State.ThreadViewType == ThreadView.Catalogue ? ThreadView.Standard : ThreadView.Catalogue);
        Dispatch(new ChangeThreadViewTypeAction() { ThreadViewType = view});
    }
}
