html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 2rem;
    min-height: 100%;
}

textarea.form-input{
    transition: unset;
}

#form-text {
    height: 100px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.quote {
    color: #5cb6b6;
}

.text-link{
    white-space:normal;
}

.post-count {
    padding: .35rem .4rem;
    height: 1.8rem;
    line-height: 1rem;
    border: .05rem solid #fff;
}

.post-info-bar .popover-container {
    white-space: nowrap;
    width: unset;
}