@inherits ForumAppComponent
@inject HttpClient Http

<div class="dropdown float-right dropdown-right">
    <a class="btn btn-link dropdown-toggle" tabindex="0">
        <i class="icon icon-caret"></i>
    </a>
    <ul class="menu">
        <li class="divider" data-content="None of these work yet!"></li>
        <li class="menu-item">
            <a>Report</a>
        </li>
        <li class="divider"></li>
        <li class="menu-item">
            <a class="c-hand" onclick="@DeletePost">Delete Post</a>
        </li>
        <li class="menu-item">
            <a class="c-hand" onclick="@DeleteImage">Delete Image</a>
        </li>
    </ul>
</div>

@functions{
    [Parameter]
    int PostId { get; set; }

    public async Task DeletePost()
    {
        await ActionCreators.DeletePost(Store.Dispatch, Http, State.CurrentBoard.NameShort, PostId);
    }

    public async Task DeleteImage()
    {
        await ActionCreators.DeleteImage(Store.Dispatch, Http, State.CurrentBoard.NameShort, PostId);
    }
}