@inherits ForumAppComponent
@inject HttpClient Http

@if (Board == null)
{
    @Content
}
else
{
    <div class="popover">
        <a href=@Link()>@Content</a>
        <div class="popover-container">
            <PostView Post="Board.CurrentThread" ViewType="View.Post"></PostView>
        </div>
    </div>
    @*<a href=@Link()>@Content</a>*@
}
@functions{
    [Parameter]
    string Content { get; set; }

    [Parameter]
    string PostId { get; set; }

    [Parameter]
    string BoardName { get; set; }

    string Link() => Board.NameShort + "/" +
                          (Board.CurrentThread.IsOp ?
                          Board.CurrentThread.Id.ToString() :
                          Board.CurrentThread.ThreadId.ToString() + "#" + Board.CurrentThread.Id.ToString());

    BoardDTO Board { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            Board = await Http.GetJsonAsync<BoardDTO>(RoutePaths.Api + BoardName + "/get-link/" + PostId);
            Console.WriteLine(Board.CurrentThread.Content);
        }
        catch (Exception) { }
    }
}