@inherits ForumAppComponent
@inject HttpClient Http

<div class="popover">
    <a href=@Link() onmouseover="@MouseOver">@Content</a>
    <div class="popover-container">
        @if (Board == null)
        {
            <div class="card" style="height:100%">
                <div class="card-header">
                    <div class="card-title">
                        Loading post...
                    </div>
                </div>
            </div>
        }
        else
        {
            <PostView Post="Board.Post" ViewType="View.Post"></PostView>
        }
    </div>
</div>

@functions{
    [Parameter]
    string Content { get; set; }

    [Parameter]
    string PostId { get; set; }

    [Parameter]
    string BoardName { get; set; }

    string Link() => Board != null ? Board.NameShort + "/" +
                          (Board.Post.IsOp ?
                          Board.Post.Id.ToString() :
                          Board.Post.ThreadId.ToString() + "#" + Board.Post.Id.ToString())
                            : string.Empty;

    BoardLinkDTO Board { get; set; }

    protected async Task MouseOver()
    {
        try
        {
            Board = await Http.GetJsonAsync<BoardLinkDTO>(RoutePaths.Api + BoardName + "/get-link/" + PostId);
        }
        catch (Exception) { }
    }
}