@inherits ForumAppComponent
@inject HttpClient Http

@if (string.IsNullOrEmpty(Link))
{
    @Content
}
else
{
    <a href=@Link>@Content</a>
}
@functions{
    [Parameter]
    string Content { get; set; }

    [Parameter]
    string PostId { get; set; }

    [Parameter]
    string BoardName { get; set; }

    string Link { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Link = await Http.GetStringAsync(RoutePaths.Api + BoardName + "/get-link/" + PostId);
    }
}