@inherits ForumAppLayout

<div class="main">
    @if (!string.IsNullOrEmpty(State.ErrorMessage)) {
    
    <div class="toast toast-error text-center fixed">
        <button onclick=@ClearError class="btn btn-clear float-right"></button>
        @State.ErrorMessage
    </div>

    }
    @Body
</div>
<footer></footer>

@functions{
    public void ClearError()
    {
        Dispatch(new ClearErrorMessageAction());
    }
}