@inherits ForumAppLayout

<div class="main">
    @if (State.IsLoading)
    {
        <div class="bar bar-sm" style="width:100%;position:fixed;">
            <div class="bar-item" role="progressbar" style="width:20%;transform:translateX(-100%);animation-name: loading-infinite;animation-duration:2s;animation-iteration-count: infinite;"></div>
        </div>
    }

    @if (!string.IsNullOrEmpty(State.ErrorMessage))
    {

        <div class="toast toast-error text-center fixed">
            <button onclick=@ClearError class="btn btn-clear float-right"></button>
            @State.ErrorMessage
        </div>

    }
    @Body
</div>
<footer></footer>

@functions{
    public void ClearError()
    {
        Dispatch(new ClearErrorMessageAction());
    }
}